
.wp-widget .form-item {
    display: inline;
    font-family: monospace;
}

.wp-widget label {
    display: block;
    font-weight: bold;
    padding-bottom: 0.3em;
}

.wp-widget select.wp-widget-country {
    display: inline;
    font-family: monospace;
    width: 6em;
}

.wp-widget select.wp-widget-country.blank {
    display: none;
}

.wp-widget .wp-widget-country option {
    font-family: monospace;
}

.wp-widget input.wp-widget-number {
    display: inline;
    width: 12em;
}

.wp-widget input.wp-widget-number.with-ccode {
    width: 18em;
}

/* Safari 3 and Chrome-specific fixes */
@media screen and (-webkit-min-device-pixel-ratio:0) {
.wp-widget .form-item {
    position: relative;
}

.wp-widget select.wp-widget-country {
    background: #fff;
    font-size: 1.2em;
    height: 1.3em;
    border: 1px solid #ccc;
    position: relative;
    top: 3px;
}

} /* End of Safari-3-specific CSS */

/* IE6-specific fix. */
* html .wp-widget select.wp-widget-country {
    width: 5em;
}

